* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(216, 216, 216);
    font-family: 'Rampart One', cursive;
    height: 100vh;
}

.title {
    text-align: center;
    font-family: 'Rampart One', cursive;
    font-size: 3em;
}

.icons {
    display: flex;
    margin-top: 100px;
}

.icon {
    width: 80px;
    height: 80px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    margin: 0 30px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.icon::after {
    content: '';
    width: 80px;
    height: 80px;
    z-index: -1;
    position: absolute;
    bottom: -80px;
    left: 0;
    background: linear-gradient(to bottom, rgb(158, 0, 231), rgb(57, 1, 211));
    transition: 0.2s;
}

.icon:hover {
    color: #fff;
}

.icon:hover::after {
    bottom: 0;
}

@media screen and (max-width: 700px) {
    .icons .icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 25px;
    }
    .icon::after {
        width: 60px;
        height: 60px;
        bottom: -60px;
    }
    .title {
        font-size: 2.5em;
    }
    .icons {
        margin-top: 75px;
    }
}

@media screen and (max-width: 560px) {
    .icons .icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    .icon::after {
        width: 40px;
        height: 40px;
        bottom: -40px;
    }
    .title {
        font-size: 2em;
    }
    .icons {
        margin-top: 50px;
    }
}

@media screen and (max-width: 470px) {
    .icons {
        flex-direction: column;
    }
    .icon {
        left: 60px;
    }
    .icons .icon {
        margin: 10px 30px;
    }
}